<!--
<?php
echo <<<EOT
-->

<div id="body">
	<div id="daohang"><span>{$web['daohang']}</span></div>
	<div id="listside">
		<div id="login">
			{$logincode}
			<div class="bottom"><span></span></div>
		</div>
		<div class="sideblock">
			<div class="title"><span>相关栏目</span></div>
			<div class="sidecontent">{$interfixclass}</div>
			<div class="bottom"><span></span></div>
		</div>
		<div class="sideblock">
			<div class="title"><span>推荐</span></div>
			<div class="sidecontent">{$listvouch}</div>
			<div class="bottom"><span></span></div>
		</div>
		<div class="sideblock">
			<div class="title"><span>热门</span></div>
			<div class="sidecontent">{$listhots}</div>
			<div class="bottom"><span></span></div>
		</div>
	</div>
	<div id="listcontent">
		{$showlist}
		<div class="showpage">{$showpage}</div>
	</div>
	<div class="bodybottom"></div>
</div>

<!--
EOT;
?>
-->